<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.catchyou.dao.CnDao">

    <insert id="insertUser" parameterType="User">
        insert into auth.user (id, username, phone_number, password, register_time, register_ip, register_device_id, is_active)
        VALUES (#{id}, #{username}, #{phoneNumber}, #{password}, #{registerTime}, #{registerIp}, #{registerDeviceId}, 1);
    </insert>

    <select id="getUserByName" resultType="User">
        select * from auth.user where username = #{username};
    </select>

    <select id="getUserByPhone" resultType="User">
        select * from auth.user where phone_number = #{phoneNumber};
    </select>

    <insert id="insertLog" parameterType="Log">
        insert into auth.log (uid, time, ip, device_id)
        VALUES (#{uid},#{time},#{ip},#{deviceId});
    </insert>

</mapper>
